
<div class="container-fluid my-4">
  <div class="my-4">
    <p class="titleSection text-center w-100">{{'Live Negocios'| translate}}</p>
  </div>

  <div class="d-flex justify-content-center buttons-links">
    <a href="/dashboard-live"><button class="btn mrg-phone">Todos</button></a>
  </div>

  <div class="d-flex mx-2 boxes-live">
    <app-box-lives-main></app-box-lives-main>
    <app-box-lives-main class="box-half" ></app-box-lives-main>
    <app-box-lives-main></app-box-lives-main>
  </div>
</div>
