<h2 class="mat-dialog-title" mat-dialog-title>Metodos de envio</h2>
<mat-dialog-content class="mat-typography">
  <h2>Como funciona?</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus provident animi aliquid totam voluptatem sed asperiores reiciendis, voluptatibus, alias placeat veniam? Labore non beatae adipisci modi necessitatibus magni, error perspiciatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. A hic iure animi nulla recusandae libero ut, minima velit, eaque veniam laudantium quam natus aliquid! Perspiciatis cumque dolore rerum a qui?</p>
  
  
</mat-dialog-content>

