

<div class="container-fluid prin">

  <div class="container">
    <div class="text-envios">
      <p class="text-main text-dark">{{'ENVIOS A TODO EL PAIS SOLO CON UN CLICK!'| translate}}</p>
      <p class="details text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, repudiandae
        laboriosam tempora reprehenderit molestias deleniti, sint ullam atque amet architecto ex nisi minima</p>
      <div class="buttons-actions">
        <button class="btn btn-primary button-style" mat-button (click)="openDialog()">{{'Quiero saber mas'| translate}}</button>

        <a href="/register"><button class="btn btn-primary  button-style">{{'Ir a registrarme' | translate}}</button></a>
      </div>
    </div>
    <!--  <img class="img-main" src="../../../../assets/img/repartidor-espacio-copia-pakcages-tarjeta-credito.png" alt=""> -->
  </div>
 
</div>
