<!-- <div class="container">
    <div class="page-header">
        <p id="timeline">Como funciona nuestro sistema de envio?</p>
    </div>
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><p class="num">1</p></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Elige el tipo de vehiculo</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> </small></p>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam nisi consectetur magni! Odio exercitationem, suscipit vel consequuntur modi assumenda enim eveniet odit culpa iusto minus veniam voluptas in. Unde, cumque?</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge"><p class="num">2</p></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Elige la ubicacion</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i></small></p>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum quidem error debitis necessitatibus maiores facilis ipsa molestiae officiis? Delectus reprehenderit et quidem ipsa, perspiciatis facilis modi vero illum corporis dolor!</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge"><p class="num">3</p></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Elige tu vehiculo de preferencia</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i></small></p>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ratione eligendi voluptatem. Unde rem asperiores similique, ad veritatis molestiae ipsam cumque tempora, odio quis eius est ex nostrum. Ut, praesentium?</p>
                </div>
            </div>
        </li>

        <li class="timeline-inverted">
            <div class="timeline-badge"><p class="num">4</p></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Elige al conductor disponible!</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> </small></p>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores sed rerum quaerat enim itaque? Nesciunt, commodi. Ea esse autem beatae corporis voluptate, consequuntur magni veritatis cum, perferendis dolores voluptas possimus.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge"><p class="num">5</p></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Realiza el pedido!</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> </small></p>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, nihil dicta id omnis earum consequatur perspiciatis veniam hic perferendis laudantium assumenda facere amet ipsum esse corporis quidem obcaecati ut suscipit.</p>

                </div>
            </div>
        </li>


    </ul>
</div> -->
