.example-container {
    width: 100%;
    height: 800px;
}
mat-drawer{
    width: 250px;
}
.section-main{
    color: black;
}
mat-drawer-content{
    color: black;
}
.toolbar {
    display: none;
    position: sticky;
    top: 0;
    z-index: 1;
    background: white;
    border-bottom: 1px solid #ccc;
}
.menu-button {
    margin: 10px;
}
/* Media query for devices with a max width of 768px */
@media (max-width: 768px) {
    .drawer {
        width: 260px;
    }
    .toolbar {
        display: flex;
        align-items: center;
    }
}

