<div class="boxHero container-fluid p-0 m-0">
  <div class="container-fluid box-box mt-4">
    <div class="box-main">
      <div class="box1">
        <div class="carousel-container">
          <div class="carousel-track">
            <div class="carousel-slide">
              <img src="../../../../assets/img/marcas-main/adidas-logo-png-2386.png" class="img-main" alt="Adidas" />
            </div>
            <div class="carousel-slide">
              <img src="../../../../assets/img/marcas-main/fedex-logo-42692.png" class="img-main" alt="Fedex" />
            </div>
            <div class="carousel-slide">
              <img src="../../../../assets/img/marcas-main/newbalance.png" class="img-main" alt="New Balance" />
            </div>
            <div class="carousel-slide">
              <img src="../../../../assets/img/marcas-main/samsung-logo-png-1292.png" class="img-main" alt="Samsung" />
            </div>
            <div class="carousel-slide">
              <img src="../../../../assets/img/marcas-main/nike-logo-png-39975.png" class="img-main" alt="Nike" />
            </div>
          </div>
          <button class="carousel-button prev-button">&lt;</button>
          <button class="carousel-button next-button">&gt;</button>
        </div>
      </div>

      <div class="desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi laborum eius assumenda quia libero similique
        facilis fugit pariatur in asperiores. Nostrum explicabo dolorum at omnis repellat eos reprehenderit? Vitae,
        animi!
      </div>
    </div>

    <div class="boxes">
      <div class="box2">
        <iframe src="https://www.youtube.com/embed/cb12KmMMDJA?autoplay=1&mute=1"
          title="TN EN VIVO I SEGUÍ LA TRANSMISIÓN DE TODO NOTICIAS EN VIVO" 
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" 
          allowfullscreen>
        </iframe>
      </div>
      <div class="box2">
        <img src="../../../../assets/img/bussines-man.png" alt="Business Man" />
      </div>
    </div>
  </div>
</div>
