<div class="d-flex box-main">

    <div class="section-box mt-3">
        <div>
            <p>Mi Nivel - Estelar</p>
        </div>
        <hr width="300px">
        <div class="another-info">
            <p class="rating">Success score <mat-icon>trending_up</mat-icon></p>
            <p class="rating">Rating <mat-icon>star -</mat-icon></p>
            <p class="rating">Response Rate (100%)<mat-icon>send</mat-icon></p>
            <p class="rating">Products Selled (25)<mat-icon>shopping_basket</mat-icon></p>
        </div>
    </div>



</div>