// $primary: #356ca6;
// $primary-original: #236bd8;
// $secondary: #ff8000;
// $success: #00ac69;


$primary: #356ca6;
$primary-original: #8b3dff;
$secondary: #7731d8;
$success: #612dae;

$danger: #e81500;
$warning: #f4a100;
$info: #00cfd5;
$pink: #c40e76;
$amarillo-pastel: #fdfd96
