<div class="d-flex justify-content-center  boxHero">



    <div class="row boxMain g-3">

        <div class="col-md-6">

            <span class="title">Metodos de Pago</span>
            <div class="card">
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="d-flex align-items-center justify-content-between">

                                    <span class="title-pay">Paypal</span>
                                    <img src="https://i.imgur.com/7kQEsHU.png" width="30">

                                </div>
                            </mat-panel-title>
                            <mat-panel-description>

                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="card-body">
                            <input type="text" class="form-control"
                                placeholder="Ingrese su email para enviarle la factura">
                        </div>

                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="d-flex align-items-center justify-content-between">

                                    <span class="title-pay">Personal Pay</span>
                                    <img src="../../../../assets/img/logo-personalpay.jpeg" width="25">

                                </div>
                            </mat-panel-title>
                            <mat-panel-description>

                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="card-body">
                            <input type="text" class="form-control"
                                placeholder="Ingrese su email para enviarle la factura">
                        </div>

                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="d-flex align-items-center justify-content-between">

                                    <span class="title-pay">Binance</span>
                                    <svg width="35px" height="64px" viewBox="-153.6 -153.6 1331.20 1331.20"
                                        xmlns="http://www.w3.org/2000/svg" fill="#000000" stroke="#000000"
                                        stroke-width="0.01024">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                        </g>
                                        <g id="SVGRepo_iconCarrier">
                                            <style>
                                                .st1 {
                                                    fill: #fff
                                                }
                                            </style>
                                            <g id="Icon">
                                                <circle cx="512" cy="512" r="512" style="fill:#f3ba2f"></circle>
                                                <path class="st1"
                                                    d="M404.9 468 512 360.9l107.1 107.2 62.3-62.3L512 236.3 342.6 405.7z">
                                                </path>
                                                <path transform="rotate(-45.001 298.629 511.998)" class="st1"
                                                    d="M254.6 467.9h88.1V556h-88.1z"></path>
                                                <path class="st1"
                                                    d="M404.9 556 512 663.1l107.1-107.2 62.4 62.3h-.1L512 787.7 342.6 618.3l-.1-.1z">
                                                </path>
                                                <path transform="rotate(-45.001 725.364 512.032)" class="st1"
                                                    d="M681.3 468h88.1v88.1h-88.1z"></path>
                                                <path class="st1"
                                                    d="M575.2 512 512 448.7l-46.7 46.8-5.4 5.3-11.1 11.1-.1.1.1.1 63.2 63.2 63.2-63.3z">
                                                </path>
                                            </g>
                                        </g>
                                    </svg>

                                </div>
                            </mat-panel-title>
                            <mat-panel-description>

                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="card-body">
                            <input type="text" class="form-control"
                                placeholder="Ingrese su email para enviarle la factura">
                        </div>

                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="d-flex align-items-center justify-content-between">

                                    <span class="title-pay">Prex</span>
                                    <img src="../../../../assets/img/prex.png" width="25">

                                </div>
                            </mat-panel-title>
                            <mat-panel-description>

                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="card-body">
                            <input type="text" class="form-control"
                                placeholder="Ingrese su email para enviarle la factura">
                        </div>

                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="d-flex align-items-center justify-content-between">

                                    <span class="title-pay">Payoneer</span>
                                    <img src="https://img.icons8.com/?size=100&id=TTvcaHYa3zkn&format=png&color=000000"
                                        width="30">

                                </div>
                            </mat-panel-title>
                            <mat-panel-description>

                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="card-body">
                            <input type="text" class="form-control"
                                placeholder="Ingrese su email para enviarle la factura">
                        </div>

                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="d-flex align-items-center justify-content-between">

                                    <span class="title-pay">Ripio</span>
                                    <img src="../../../../assets/img/ripio.png" width="30">

                                </div>
                            </mat-panel-title>
                            <mat-panel-description>

                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="card-body">
                            <input type="text" class="form-control"
                                placeholder="Ingrese su email para enviarle la factura">
                        </div>

                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="d-flex align-items-center justify-content-between">

                                    <span class="title-pay">Tarjeta de credito</span>
                                    <div class="icons">
                                        <img src="https://i.imgur.com/2ISgYja.png" width="30">
                                        <img src="https://i.imgur.com/W1vtnOV.png" width="30">
                                        <img src="https://i.imgur.com/35tC99g.png" width="30">
                                        <img src="https://i.imgur.com/2ISgYja.png" width="30">
                                    </div>

                                </div>
                            </mat-panel-title>
                            <mat-panel-description>

                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="card-body payment-card-body">

                            <div class="my-3">
                                <span class="font-weight-normal card-text">Nombre del titular de la tarjeta</span>
                                <div class="input">

                                    <i class="fa fa-credit-card"></i>
                                    <input type="text" class="form-control" placeholder="Como aparece en tu tarjeta">

                                </div>
                            </div>

                            <div>
                                <span class="font-weight-normal card-text mt-2">Numero de tarjeta</span>
                                <div class="input">

                                    <i class="fa fa-credit-card"></i>
                                    <input type="text" class="form-control" placeholder="0000 0000 0000 0000">

                                </div>
                            </div>


                            <div class="row mt-3 mb-3">

                                <div class="col-md-6">

                                    <span class="font-weight-normal card-text">Fecha de expiración</span>
                                    <div class="input">

                                        <i class="fa fa-calendar"></i>
                                        <input type="text" class="form-control" placeholder="MM/YY">

                                    </div>

                                </div>


                                <div class="col-md-6">

                                    <span class="font-weight-normal card-text">CVC/CVV</span>
                                    <div class="input">

                                        <i class="fa fa-lock"></i>
                                        <input type="text" class="form-control" placeholder="000">

                                    </div>

                                </div>


                            </div>

                            <span class="text-muted certificate-text"><i class="fa fa-lock"></i>
                                <p>Tu transaccion esta protegida por el certificado SSL</p>
                            </span>

                        </div>

                    </mat-expansion-panel>
                </mat-accordion>




            </div>

        </div>

        <div class="col-md-6">
            <span class="title">Resumen</span>

            <div class="card">

                <div class="d-flex justify-content-between p-3">

                    <div class="d-flex flex-column">

                        <span class="resumen-info">Pro (Membresia Mensual) </span>
                        <a href="#" class="billing btnnuevo1">Ahorrar 20% con membresia anual</a>

                    </div>

                    <div class="mt-1">
                        <sup class="super-price">$9.99</sup>
                        <span class="super-month">/Mes</span>
                    </div>

                </div>

                <hr class="mt-0 line">

                <div class="p-3">

                    <div class="d-flex justify-content-between mb-2 impuestos">

                        <span>Impuestos</span>
                        <span>-$2.00</span>

                    </div>

                    <div class="d-flex justify-content-between impuestos">



                    </div>


                </div>

                <hr class="mt-0 line">


                <div class="p-3 d-flex justify-content-between impuestos">

                    <div class="d-flex flex-column">

                        <span>Pagandolo hoy(US Dolares)</span>
                        <small>Luego de 30 dias - $9.59</small>

                    </div>
                    <span>$0</span>



                </div>


                <div class="p-3">

                    <button class="btn btn-primary btn-block free-button btn-pay btnnuevo1">Prueba gratis de 30 dias</button>


                </div>




            </div>
        </div>

    </div>


</div>
