<div class="container-fluid my-5">
  <div class="my-4">
    <p class="titleSection text-center w-100">{{ 'Emprendedores' | translate }}</p>
    <p class="subTitleService text-center mx-2">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus autem natus nostrum quod omnis, ipsam quas iste, odit nihil
      similique distinctio unde repudiandae hic dolorem at! Ea illum eos facere? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea
      laborum officia magni provident beatae ratione nobis vero delectus mollitia. Aut quisquam at obcaecati expedita maiores molestias
      dolore commodi harum debitis.
    </p>
  </div>

  <div *ngIf="products.length > 0; else noProducts">
    <div id="carouselExampleControls" class="carousel slide mt-5" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div
          class="carousel-item"
          *ngFor="let group of chunkedProducts; let i = index"
          [class.active]="i === 0"
          data-bs-interval="3000"
        >
          <div class="boxes">
            <div class="box mx-4" *ngFor="let product of group">
              <img [src]="product.image || 'assets/img/default-product.png'" width="100%" height="100%" alt="Product Image" />
              <a [routerLink]="['/product-detail', product._id]">
                <button class="btn btn-primary w-100">{{ 'Vender' | translate }}</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <ng-template #noProducts>
    <p class="text-center my-5">{{ 'No hay productos disponibles.' | translate }}</p>
  </ng-template>
</div>
