<!--For Page-->
<div class="page">

    <!--For Row containing all card-->
    <div class="row">

        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="col-sm">
                    <div class="card card-cascade card-ecommerce wider shadow mb-5 ">

                        <!--Card image-->
                        <div class="view view-cascade overlay text-center">
                            <img class="card-img-top" src="../../../../assets/img/product-2.png" alt="">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>


                        <!--Card Body-->
                        <div class="card-body card-body-cascade text-center">

                            <!--Card Title-->
                            <h5 class="card-title fw-bold mb-2"><a href="">Cubierta</a></h5>

                            <!-- Card Description-->
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ad ut saepe excepturi facere deserunt eum autem dolorem modi sed. Volup
                            </p>


                            <p class="price">$2599</p>

                            <!--Card footer-->
                            <div class="card-footer">
                                <p class="mb-1 text-white">Ver producto</p>
                            </div>


                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="col-sm">
                    <div class="card card-cascade card-ecommerce wider shadow mb-5 ">

                        <!--Card image-->
                        <div class="view view-cascade overlay text-center">
                            <img class="card-img-top" src="../../../../assets/img/product-3.png" alt="">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card Body-->
                        <div class="card-body card-body-cascade text-center">

                            <!--Card Title-->
                            <h5 class="card-title fw-bold mb-2"><a href="">Saco gabardina mujer</a></h5>

                            <!--Card Description-->
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus quis voluptatibus atque labore hic! Itaque, recusandae veniam,
                            </p>

                            <p class="price">$1690</p>

                            <!--Card footer-->
                            <div class="card-footer">
                                <p class="mb-1 text-white">Ver producto</p>
                            </div>

                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="col-sm">
                    <div class="card card-cascade card-ecommerce wider shadow mb-5 ">

                        <!--Card image-->
                        <div class="view view-cascade overlay text-center">
                            <img class="card-img-top" src="../../../../assets/img/product-4.png" alt="">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card Body-->
                        <div class="card-body card-body-cascade text-center">

                            <!--Card Title-->
                            <h5 class="card-title fw-bold mb-2"><a href="">Crema anti-age</a></h5>

                            <!--Description-->
                            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas voluptas illo provident, quod velit unde non a veritatis obcaecati
                            </p>

                            <p class="price">$700</p>

                            <!--Card footer-->
                            <div class="card-footer">
                                <p class="mb-1 text-white ">Ver producto</p>
                            </div>


                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="col-sm">
                    <div class="card card-cascade card-ecommerce wider shadow mb-5 ">

                        <!--Card image-->
                        <div class="view view-cascade overlay text-center">
                            <img class="card-img-top" src="../../../../assets/img/productos-img/product3.jpg" alt="">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card Body-->
                        <div class="card-body card-body-cascade text-center">

                            <!--Card Title-->
                            <h5 class="card-title fw-bold mb-2"><a href="">Disco duro portatil</a></h5>

                            <!--Description-->
                            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas voluptas illo provident, quod velit unde non a veritatis obcaecati
                            </p>

                            <p class="price">$700</p>

                            <!--Card footer-->
                            <div class="card-footer">
                                <p class="mb-1 text-white text-white">Ver producto</p>
                            </div>


                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="col-sm">
                    <div class="card card-cascade card-ecommerce wider shadow mb-5 ">

                        <!--Card image-->
                        <div class="view view-cascade overlay text-center">
                            <img class="card-img-top" src="../../../../assets/img/productos-img/product4.jpg" alt="">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card Body-->
                        <div class="card-body card-body-cascade text-center">

                            <!--Card Title-->
                            <h5 class="card-title fw-bold mb-2"><a href="">Campera mujer violeta</a></h5>

                            <!--Description-->
                            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas voluptas illo provident, quod velit unde non a veritatis obcaecati
                            </p>

                            <p class="price">$700</p>

                            <!--Card footer-->
                            <div class="card-footer">
                                <p class="mb-1 text-white">Ver producto</p>
                            </div>


                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>



        <!--Card 1-->




        <!--Card 2-->



        <!--Card 3-->





    </div>
</div>
