
<div class="container-fluid">
  <div class="my-4">
    <p class="titleSection text-center w-100">{{'Live Profesionales'| translate}}</p>
  </div>

  <div class="d-flex justify-content-center buttons-links">
    <a href="/dashboard-live"><button class="btn btn-primary mrg-phone">Todos</button></a>
  </div>

  <div class="d-flex mx-2 boxes-live">
    <app-box-lives-main></app-box-lives-main>
    <app-box-lives-main class="box-half" ></app-box-lives-main>
    <app-box-lives-main></app-box-lives-main>
  </div>
</div>
