<footer >
    <div class="containerFooter container  pb-4 pt-5 ">
        <div class="boxLogo">
            <div class="boxImg">
                <img class="img-fluid logo" src="../../../../assets/img/logo_blanco.png" alt="logo LikeVendor">
            </div>
            <p class="copyright ">Copyright © 2021</p>
            <div class="d-flex w-100">
                <button class="btn btn-icon py-2">
                    <i-feather class="icon px-0"  name="linkedin"></i-feather>
                </button>
                <button class="btn btn-icon py-2">
                    <i-feather class="icon px-0" name="instagram"></i-feather>
                </button>
                <button class="btn btn-icon py-2">
                    <i-feather  class="icon px-0" name="facebook"></i-feather>
                </button>
            </div>
        </div>
        <div class="boxBussines">
            <h4>{{'Empresa'| translate}}</h4>
            <ul >
                <li> <a class="itemFooter" href="/about-us">{{'sobre nosotros' | translate}}</a></li>
                <li> <a class="itemFooter w-100" href="/empresas-asociadas">{{'empresas asociadas'| translate}}</a></li>
                <li> <a class="itemFooter" href="/comisiones">{{'comisiones'| translate}}</a></li>
                <!--<li> <a class="itemFooter"  href="#">Fundadores</a></li>-->
                <li> <a class="itemFooter" href="/contacto">{{'contactos'| translate}}</a></li>
            </ul>
        </div>
        <div class="boxSoporte">
            <h4>{{'soporte'| translate}}</h4>
            <ul>
                <li> <a class="itemFooter" href="#">{{'atención al cliente' | translate}}</a></li>
                <li> <a class="itemFooter" href="/terminos-condiciones">{{'terminos y condiciones'| translate}}</a></li>
                <li> <a class="itemFooter" href="/legal">{{'legal'| translate}}</a></li>
                <li> <a class="itemFooter" href="/politica-privacidad">{{'politicas de privacidad' | translate}}</a></li>
            </ul>
        </div>
        <!-- <div class="boxNewsletter">
            <h4>{{'suscribite al newsletter' | translate}}</h4>
            <form >
                <input class="inputNewsletter form-control" type="text" placeholder="Deja aquí tu email">
                <button (click)="getSubscribe()" class="btn btn-success mt-2 btn-sm">{{'suscribirme' | translate}}</button>
            </form>

        </div> -->
    </div>
</footer>
