<div class="container-fluid my-5">
    <div class="row">
        <div class="col-12 col-md-3 mt-3">
            <div class="boxInput">
                <label class="mb-2" for="">Forma de Pago</label>
                <select class="form-select input-style" id="validationCustom04" required>
                    <option selected disabled value="" class="input-style">Elige el metodo de pago</option>
                    <option>Efectivo</option>
                    <option>Credito</option>
                    <option>Debito</option>
                    <option>Mercado Pago</option>
                    <option>Paypal</option>
                </select>
            </div>
        </div>

        <div class="col-12 col-md-3 mt-3">
            <div class="boxInput">
                <label class="mb-2" for="">Ubicacion</label>
                <input class="form-control input-style" type="text" placeholder="Elige tu ubicacion" />
            </div>
        </div>
    </div>

    <div class="my-5">
        <label class="mx-4">¿Necesitas ayuda? <a href="#">Hablar con soporte Tecnico</a></label>
    </div>

    <div class="row d-flex justify-content-center my-5">
        <button class="col-12 col-md-3 btn btnnuevo1">
            <i-feather name="save"></i-feather> Guardar cambios
        </button>
    </div>
</div>
