.box-prod{
    width: 250px;
    height: 340px;
    background-color: rgb(251, 251, 251);
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 20px;
}
.img img{
    width: 100%;
    height: 180px !important;
    border-radius: 5px;
}
.desc{
    margin-top: 20px;
}
.price{
    margin-top: 20px;
}
.number{
    font-size: 20px;
    font-weight: bold;
}
.row{
    color: black;
}
@media (max-width: 768px) {
    .row{
        margin-left: -22px;
    }
    .box-prod{
        margin-bottom: 35px;
    }
}