<div class="container-fluid box px-5 py-4">
  <div class="row boxSmartBusiness justify-content-end">
    <div class="col-6 pr-5 section-info">
      <h2 class="titleSection my-4">{{ 'ranking.you_can_be_here' | translate }}</h2>
      <p class="textSection my-4">
        Los Compradores están primordialmente preocupados por obtener un retorno decente sobre su inversión. Los Vendedores tienden a darle
        un valor sentimental que a veces distorsiona el precio verdadero. Un Negocio es un "elemento vivo", por ende debería venderse como
        tal. Por eso utilizamos el Método de Flujos de Caja Descontados, tomando en cuenta factores como Costo de Capital, para así llegar a
        un Valor Patrimonial verdadero.
      </p>
      <div class="w-100 text-start my-4">
        <button class="btn px-3" (click)="goToRegister()">{{ 'ranking.start_now' | translate }}</button>
      </div>
    </div>
    <div class="col-5 d-flex justify-content-center box-img">
      <img class="img-fluid imgManBusiness" src="../../../../assets/img/bussines-man-2.png" alt="Hombre de Negocios" />
    </div>
  </div>
</div>
