<h1 mat-dialog-title>Como funcionan las comisiones?</h1>
<div mat-dialog-content>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum laboriosam iure pariatur maiores doloremque? Eligendi et veniam expedita sed molestiae eum quos, facere iure id delectus numquam, odit porro amet. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores aliquid, aut reprehenderit, asperiores adipisci quia nesciunt rerum obcaecati, laborum exercitationem est facilis officia nihil? Soluta, et quia. Id, vero sed.</p>
</div>
