<div class="container BoxMain w-100">

    <div class="box-img-product">
        <div class="conditions">
            <p>Condicion:</p>
            <p>Categoria:</p>
            <p>Marca:</p>
        </div>
        <div class="image-product">

        </div>
    </div>

    <div class="prod-info">
        <p class="title-prod">Heladera Samsung K325</p>
        <p class="price-main">$ 3.000</p>
        <div class=" box-comision">
            <h3 class="mt-3">Ganancia por comision - $500 </h3>
            <mat-icon mat-raised-button  (click)="openDialog()" matTooltipClass="example-tooltip-red"
                aria-label="Button that shows a red tooltip" class="example-button mx-3">contact_support</mat-icon>
        </div>

        <div class="box-btn d-flex">
            <button class="btn btn1 btn-left">Vender</button>
            <button class="btn btn-outline btn1">Guardar producto</button>
        </div>

        <div class="box-seller">
            <p class="title-seller">Vendedor:</p>
            <div class="details-sellers d-flex">
                <div class="image-seller rounded-circle">

                </div>
                <div class="name">
                    <p class="mb-3">Eduardo Gonzalez</p>
                    <div class="stars mb-2">
                        <img src="../../../../assets/img/iconmonstr-star-3.svg" class="filter-color" />
                        <img src="../../../../assets/img/iconmonstr-star-3.svg" class="filter-color" />
                        <img src="../../../../assets/img/iconmonstr-star-3.svg" class="filter-color" />
                        <img src="../../../../assets/img/iconmonstr-star-3.svg" class="filter-color" />
                    </div>
                    <a href="#">
                        <p class="reputacion">ver reputacion</p>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<hr class="w-100">
<!--DESCRIPCION DEL PRODUCTO-->
<div class="boxDescription container">
    <p class="title-desc">Descripcion del producto:</p>
    <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit tenetur alias vitae ratione,
        similique eum incidunt beatae laboriosam provident repudiandae ducimus fugit reprehenderit autem. Cumque
        repudiandae eligendi tenetur magni magnam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt
        impedit corporis ex, animi quasi voluptatem, fugiat quae doloribus aliquid commodi odio vitae reprehenderit ut
        quam sint aliquam illum harum? Quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam id ad
        dolor illo nesciunt repellat, perferendis distinctio eius assumenda, inventore neque quaerat dolorum beatae
        magnam impedit quibusdam corrupti alias sed? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, iure
        adipisci! Illum iste natus, dicta voluptatum atque molestias est voluptas officia eveniet ipsum autem nostrum
        recusandae. Quasi quis iure modi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus
        perferendis enim aliquid dolorum neque consequatur similique veniam iusto, sapiente nam quia, quod nisi vero
        ullam commodi voluptates molestiae? Accusantium, deserunt? Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Sint sapiente ipsam quia asperiores saepe, minima impedit suscipit illum velit rerum animi, deleniti optio
        doloribus tempora at possimus cum excepturi dolore? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Porro rem, iusto odit dolor iste cupiditate placeat, est aliquid quaerat deserunt esse laboriosam unde enim sunt
        possimus nobis hic! Incidunt, id.</p>
</div>

<!--PRODUCTOS SIMILARES-->
<div class="boxProdSimilares">
    <p class="title-desc">Productos similares:</p>
</div>

<app-prod-slider></app-prod-slider>
