<div class="boxMain">

    <div class="container">
        <p class="d-flex text-center justify-content-center title">Productos mas vendidos</p>
        <p class="d-flex text-center justify-content-center desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quidem, odit tenetur aut obcaecati placeat iusto unde maiores dolores, tempore et recusandae minus totam vel iure nobis dolorum officia harum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, iste molestiae? Sunt fuga itaque odio ea iste rem dicta eligendi recusandae cum perspiciatis distinctio corrupti dignissimos, nemo iusto in porro!</p>
        <app-prod-list></app-prod-list>

    </div>

</div>
