.example-container .mat-form-field+.mat-form-field {
    margin-left: 8px;
}
.container{
    color: black;
}



@media(max-width: 320px){
    .container{
        margin-top: 40px;
        margin-bottom: 40px;
    }
}