<div class="boxMain">

    <div class="container">
        <p class="d-flex text-center justify-content-center title">Transmisiones de ropa en Vivo</p>
        <div class="row rows row-cols-4 p-0">

            <div class="col">
                <div class="col-box box-lives">
                    <div class="box-live py-0 my-0">
                        <video class="video" width="100%" height="100%" autoplay loop muted>
                            <!-- <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" /> -->
                        </video>
                    </div>
                    <div class="btn-box">
                        <a href="/live">
                            <button class="btn btn-style"><mat-icon class="icon-eye">remove_red_eye</mat-icon>ver
                                transmision (25)</button>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col-box box-lives">
                    <div class="box-live py-0 my-0">
                        <video class="video" width="100%" height="100%" autoplay loop muted>
                            <!-- <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" /> -->
                        </video>
                    </div>
                    <div class="btn-box">
                        <a href="/live">
                            <button class="btn btn-style"><mat-icon class="icon-eye">remove_red_eye</mat-icon>ver
                                transmision (25)</button>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col-box box-lives">
                    <div class="box-live py-0 my-0">
                        <video class="video" width="100%" height="100%" autoplay loop muted>
                            <!-- <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" /> -->
                        </video>
                    </div>
                    <div class="btn-box">
                        <a href="/live">
                            <button class="btn btn-style"><mat-icon class="icon-eye">remove_red_eye</mat-icon>ver
                                transmision (25)</button>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col-box box-lives">
                    <div class="box-live py-0 my-0">
                        <video class="video" width="100%" height="100%" autoplay loop muted>
                            <!-- <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" /> -->
                        </video>
                    </div>
                    <div class="btn-box">
                        <a href="/live">
                            <button class="btn btn-style"><mat-icon class="icon-eye">remove_red_eye</mat-icon>ver
                                transmision (25)</button>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col-box box-lives">
                    <div class="box-live py-0 my-0">
                        <video class="video" width="100%" height="100%" autoplay loop muted>
                            <!-- <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" /> -->
                        </video>
                    </div>
                    <div class="btn-box">
                        <a href="/live">
                            <button class="btn btn-style"><mat-icon class="icon-eye">remove_red_eye</mat-icon>ver
                                transmision (25)</button>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col-box box-lives">
                    <div class="box-live py-0 my-0">
                        <video class="video" width="100%" height="100%" autoplay loop muted>
                            <!-- <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" /> -->
                        </video>
                    </div>
                    <div class="btn-box">
                        <a href="/live">
                            <button class="btn btn-style"><mat-icon class="icon-eye">remove_red_eye</mat-icon>ver
                                transmision (25)</button>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col-box box-lives">
                    <div class="box-live py-0 my-0">
                        <video class="video" width="100%" height="100%" autoplay loop muted>
                            <!-- <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" /> -->
                        </video>
                    </div>
                    <div class="btn-box">
                        <a href="/live">
                            <button class="btn btn-style"><mat-icon class="icon-eye">remove_red_eye</mat-icon>ver
                                transmision (25)</button>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col-box box-lives">
                    <div class="box-live py-0 my-0">
                        <video class="video" width="100%" height="100%" autoplay loop muted>
                            <!-- <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" /> -->
                        </video>
                    </div>
                    <div class="btn-box">
                        <a href="/live">
                            <button class="btn btn-style"><mat-icon class="icon-eye">remove_red_eye</mat-icon>ver
                                transmision (25)</button>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col-box box-lives">
                    <div class="box-live py-0 my-0">
                        <video class="video" width="100%" height="100%" autoplay loop muted>
                            <!-- <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" /> -->
                        </video>
                    </div>
                    <div class="btn-box">
                        <a href="/live">
                            <button class="btn btn-style"><mat-icon class="icon-eye">remove_red_eye</mat-icon>ver
                                transmision (25)</button>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col-box box-lives">
                    <div class="box-live py-0 my-0">
                        <video class="video" width="100%" height="100%" autoplay loop muted>
                            <!-- <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" /> -->
                        </video>
                    </div>
                    <div class="btn-box">
                        <a href="/live">
                            <button class="btn btn-style"><mat-icon class="icon-eye">remove_red_eye</mat-icon>ver
                                transmision (25)</button>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col-box box-lives">
                    <div class="box-live py-0 my-0">
                        <video class="video" width="100%" height="100%" autoplay loop muted>
                            <!-- <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" /> -->
                        </video>
                    </div>
                    <div class="btn-box">
                        <a href="/live">
                            <button class="btn btn-style"><mat-icon class="icon-eye">remove_red_eye</mat-icon>ver
                                transmision (25)</button>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col-box box-lives">
                    <div class="box-live py-0 my-0">
                        <video class="video" width="100%" height="100%" autoplay loop muted>
                            <!-- <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" /> -->
                        </video>
                    </div>
                    <div class="btn-box">
                        <a href="/live">
                            <button class="btn btn-style"><mat-icon class="icon-eye">remove_red_eye</mat-icon>ver
                                transmision (25)</button>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col-box box-lives">
                    <div class="box-live py-0 my-0">
                        <video class="video" width="100%" height="100%" autoplay loop muted>
                            <!-- <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" /> -->
                        </video>
                    </div>
                    <div class="btn-box">
                        <a href="/live">
                            <button class="btn btn-style"><mat-icon class="icon-eye">remove_red_eye</mat-icon>ver
                                transmision (25)</button>
                        </a>

                    </div>
                </div>
            </div>

        </div>
    </div>


</div>
