<div class="container-fluid my-5">
    <form>
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="boxInput">
                    <label class="mb-2" for="category">Selecciona la categoria</label>
                    <select class="form-select input-style" id="category" required>
                        <option selected disabled value="">Selecciona la categoria/as</option>
                        <option>Rio Negro</option>
                        <option>Cordoba</option>
                        <option>Rioja</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid state.
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-7 row">
                <div class="col-12 col-md-4 boxInput">
                    <label class="mb-2" for="serviceName">Nombre del servicio</label>
                    <input class="form-control input-style" type="text" id="serviceName" placeholder="Escribe el nombre del producto o servicio" />
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center my-5">
            <button class="col-12 col-md-3 btn btnnuevo1 text-save">Siguiente</button>
        </div>
    </form>
</div>
