<h2 class="mat-dialog-title" mat-dialog-title>Beneficio de venta</h2>
<mat-dialog-content class="mat-typography">
  <p>Benficio de revendedor/emprendedor - 10% - $1500</p>
  <p>Benficio por usar la plataforma - 5% - $500</p>
  <h2>Por que brindamos estos beneficios?</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dignissimos repellendus inventore dolorem sapiente ducimus molestiae eos. Rerum assumenda nihil quo voluptatum, delectus laborum est sequi laudantium. Doloribus, at nihil?</p>
  
</mat-dialog-content>

