<div class="mainBox">
    <div class="welcome-msg">
        <p>Bienvenido de nuevo, Usuario</p>
        <label class="label">Find important messages, tips, and links to helpful resources here:</label>
    </div>
    <div class="active-orders">
        <div class="title">
            <p class="first-title">Mis Productos</p>
            <span class="d-flex justify-content-center mt-3 span">Administre sus productos de una manera sencilla y
                clara
            </span>
        </div>

        <div class="container mt-5 mb-5">
            <a href="/your-service"><button class="btn btn-primary btn-add">Agregar Producto</button></a>

            <div class="d-flex justify-content-center row">
                <div class="col-md-10">
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-5"><img class="img-fluid img-responsive rounded product-image"
                                src="https://i.imgur.com/QpjAiHq.jpg">
                            <div>
                                <p class="compartir">Compartir</p>
                                <div class="row icons">
                                    <i-feather class="icon px-0" name="instagram"></i-feather>
                                    <i-feather class="icon px-0" name="facebook"></i-feather>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-5">
                            <h3>Camisa estampada</h3>
                            <div class="d-flex flex-row">
                                <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                            </div>
                            <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light
                                    weight</span><span class="dot"></span><span>Best finish<br></span></div>
                            <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For
                                    men</span><span class="dot"></span><span>Casual<br></span></div>
                            <p class="text-justify text-truncate para mb-0">There are many variations of passages of
                                Lorem Ipsum available, but the majority have suffered alteration in some form, by
                                injected humour, or randomised words which don't look even slightly believable.<br><br>
                            </p>
                            <div class="extra-info">
                                <label class="text-primary txt">Stock(25)<mat-icon
                                        class="icon-pencil icon-edit-stock">edit</mat-icon></label>
                                <label class="text-primary txt">Ubicacion: Argentina<mat-icon
                                        class="icon-pencil icon-edit-location">edit</mat-icon></label>
                            </div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center">
                                <span class="strike-text">$20.99<mat-icon class="icon-pencil">edit</mat-icon></span>

                            </div>
                            <p class="mt-2">Benef. de venta : <strong> $1000</strong></p>

                            <div class="d-flex flex-column mt-4">
                          
                                <button class="btn btn-primary" mat-button (click)="openDialog()">Detalles de venta</button>



                               <!-- <a href="/live">
                                    <button class="btn btn-primary mt-4" type="button">
                                        Vender
                                    </button>
                                </a>-->


                            </div>
                        </div>
                    </div>
                    <div class="row p-2 bg-white border rounded mt-2">
                        <div class="col-md-3 mt-5"><img class="img-fluid img-responsive rounded product-image"
                                src="https://i.imgur.com/JvPeqEF.jpg">
                            <div>
                                <p class="compartir">Compartir</p>
                                <div class="row icons">
                                    <i-feather class="icon px-0" name="instagram"></i-feather>
                                    <i-feather class="icon px-0" name="facebook"></i-feather>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-5">
                            <h3>Zapatos de vestir Masculino</h3>
                            <div class="d-flex flex-row">
                                <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                            </div>
                            <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light
                                    weight</span><span class="dot"></span><span>Best finish<br></span></div>
                            <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For
                                    men</span><span class="dot"></span><span>Casual<br></span></div>
                            <p class="text-justify text-truncate para mb-0">There are many variations of passages of
                                Lorem Ipsum available, but the majority have suffered alteration in some form, by
                                injected humour, or randomised words which don't look even slightly believable.<br><br>
                            </p>
                            <div class="extra-info">
                                <label class="text-primary txt">Stock(25)<mat-icon
                                        class="icon-pencil icon-edit-stock">edit</mat-icon></label>
                                <label class="text-primary txt">Ubicacion: Argentina<mat-icon
                                        class="icon-pencil icon-edit-location">edit</mat-icon></label>
                            </div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center">
                                <span class="strike-text">$20.99<mat-icon class="icon-pencil">edit</mat-icon></span>
                            </div>
                            <p class="mt-2">Benef. de venta : <strong> $1000</strong></p>

                            <div class="d-flex flex-column mt-4">
                                <button class="btn btn-primary" mat-button (click)="openDialog()">Detalles de venta</button>
                                <!-- <a href="/live">
                                    <button class="btn btn-primary mt-4" type="button">
                                        Vender
                                    </button>
                                </a>-->
                            </div>
                        </div>
                    </div>
                    <div class="row p-2 bg-white border rounded mt-2">
                        <div class="col-md-3 mt-5"><img class="img-fluid img-responsive rounded product-image"
                                src="https://i.imgur.com/Bf4dIaN.jpg">
                            <div>
                                <p class="compartir">Compartir</p>
                                <div class="row icons">
                                    <i-feather class="icon px-0" name="instagram"></i-feather>
                                    <i-feather class="icon px-0" name="facebook"></i-feather>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-5">
                            <h3>Camisa estilo lineal</h3>
                            <div class="d-flex flex-row">
                                <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star"></i></div><span>123</span>
                            </div>
                            <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light
                                    weight</span><span class="dot"></span><span>Best finish<br></span></div>
                            <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For
                                    men</span><span class="dot"></span><span>Casual<br></span></div>
                            <p class="text-justify text-truncate para mb-0">There are many variations of passages of
                                Lorem Ipsum available, but the majority have suffered alteration in some form, by
                                injected humour, or randomised words which don't look even slightly believable.<br><br>
                            </p>
                            <div class="extra-info">
                                <label class="text-primary txt">Stock(25)<mat-icon
                                        class="icon-pencil icon-edit-stock">edit</mat-icon></label>
                                <label class="text-primary txt">Ubicacion: Argentina<mat-icon
                                        class="icon-pencil icon-edit-location">edit</mat-icon></label>
                            </div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center">
                                <span class="strike-text">$20.99<mat-icon class="icon-pencil">edit</mat-icon></span>
                            </div>
                            <p class="mt-2">Benef. de venta : <strong> $1000</strong></p>

                            <div class="d-flex flex-column mt-4">
                                <button class="btn btn-primary" mat-button (click)="openDialog()">Detalles de venta</button>

                                <!-- <a href="/live">
                                    <button class="btn btn-primary mt-4" type="button">
                                        Vender
                                    </button>
                                </a>-->


                            </div>
                        </div>
                    </div>
                    <div class="row p-2 bg-white border rounded mt-2">
                        <div class="col-md-3 mt-5"><img class="img-fluid img-responsive rounded product-image"
                                src="https://i.imgur.com/HO8e9b8.jpg">
                            <div>
                                <p class="compartir">Compartir</p>
                                <div class="row icons">
                                    <i-feather class="icon px-0" name="instagram"></i-feather>
                                    <i-feather class="icon px-0" name="facebook"></i-feather>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 mt-5">
                            <h3>Saco color salmon</h3>
                            <div class="d-flex flex-row">
                                <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star"></i></div><span>110</span>
                            </div>
                            <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light
                                    weight</span><span class="dot"></span><span>Best finish<br></span></div>
                            <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For
                                    men</span><span class="dot"></span><span>Casual<br></span></div>
                            <p class="text-justify text-truncate para mb-0">There are many variations of passages of
                                Lorem Ipsum available, but the majority have suffered alteration in some form, by
                                injected humour, or randomised words which don't look even slightly believable.<br><br>
                            </p>
                            <div class="extra-info">
                                <label class="text-primary txt">Stock(25)<mat-icon
                                        class="icon-pencil icon-edit-stock">edit</mat-icon></label>
                                <label class="text-primary txt">Ubicacion: Argentina<mat-icon
                                        class="icon-pencil icon-edit-location">edit</mat-icon></label>
                            </div>

                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center">
                                <span class="strike-text">$21.99<mat-icon class="icon-pencil">edit</mat-icon></span>
                            </div>

                            <p class="mt-2">Benef. de venta : <strong> $1000</strong></p>

                            <div class="d-flex flex-column mt-4">
                                <button class="btn btn-primary" mat-button (click)="openDialog()">Detalles de venta</button>
                                <!-- <a href="/live">
                                    <button class="btn btn-primary mt-4" type="button">
                                        Vender
                                    </button>
                                </a>-->

                            </div>
                        </div>
                    </div>
                    <div class="row p-2 bg-white border rounded mt-2">
                        <div class="col-md-3 mt-5"><img class="img-fluid img-responsive rounded product-image"
                                src="https://i.imgur.com/QpjAiHq.jpg">
                            <div>
                                <p class="compartir">Compartir</p>
                                <div class="row icons">
                                    <i-feather class="icon px-0" name="instagram"></i-feather>
                                    <i-feather class="icon px-0" name="facebook"></i-feather>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 mt-5">
                            <h3>Camisa estampada</h3>
                            <div class="d-flex flex-row">
                                <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                            </div>
                            <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light
                                    weight</span><span class="dot"></span><span>Best finish<br></span></div>
                            <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For
                                    men</span><span class="dot"></span><span>Casual<br></span></div>
                            <p class="text-justify text-truncate para mb-0">There are many variations of passages of
                                Lorem Ipsum available, but the majority have suffered alteration in some form, by
                                injected humour, or randomised words which don't look even slightly believable.<br><br>
                            </p>
                            <div class="extra-info">
                                <label class="text-primary txt">Stock(25)<mat-icon
                                        class="icon-pencil icon-edit-stock">edit</mat-icon></label>
                                <label class="text-primary txt">Ubicacion: Argentina<mat-icon
                                        class="icon-pencil icon-edit-location">edit</mat-icon></label>
                            </div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center">
                                <span class="strike-text">$20.99<mat-icon class="icon-pencil">edit</mat-icon></span>
                            </div>
                            <p class="mt-2">Benef. de venta : <strong> $1000</strong></p>

                            <div class="d-flex flex-column mt-4">
                                <button class="btn btn-primary" mat-button (click)="openDialog()">Detalles de venta</button>
                               <!-- <a href="/live">
                                    <button class="btn btn-primary mt-4" type="button">
                                        Vender
                                    </button>
                                </a>-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="my-5 banner">
        <div class="container overflow-hidden">
            <div class="row gy-5 gy-lg-0 align-items-lg-center justify-content-lg-between">
                <div class="col-12 col-lg-6 order-1 order-lg-0 info-banner">
                    <h2 class="display-3 fw-bold mb-3">Haz crecer tu negocio y tus ingresos!</h2>
                    <p class="fs-4 mb-5">Con nuestros planes de beneficios, podes adquirir y obtener ingresos de un 10,
                        15 hasta 30% segun tus necesidades</p>
                    <div class="d-grid gap-2 d-sm-flex">
                        <a href="/pricing-plans"><button type="button"
                                class="btn btn-primary bsb-btn-2xl rounded-pill">Explorar planes</button></a>

                    </div>
                </div>
                <div class="col-12 col-lg-5 text-center">
                    <div class="position-relative  character-logo">
                        <div
                            class="bsb-circle border border-4 border-warning position-absolute top-50 start-20 translate-middle z-1">
                        </div>
                        <div class="bsb-circle bg-primary position-absolute top-50 start-60 translate-middle"
                            style="--bsb-cs: 460px;"></div>
                        <div class="bsb-circle border border-4 border-warning position-absolute top-10 end-0 z-1"
                            style="--bsb-cs: 100px;"></div>
                        <img class="img-fluid position-relative z-2" loading="lazy"
                            src="../../../../assets/img/ilustracion-frugalidad-dibujada-mano.png"
                            alt="A Digital Agency Specialized in AI and Web 3.0">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid box-link-ref">
        <p class="text-link">Comparte Tu perfil con mas personas y conecta con ellos!</p>
        <input class="form-control input-style input-link" type="text"
            placeholder="https://click.ly/fake-link-generator#" />
    </div>
</div>
<!-- Hero 3 - Bootstrap Brain Component -->