<div class="boxHero container-fluid p-0 m-0 d-flex justify-content-end align-items-center"
  [ngStyle]="{
    background: 'linear-gradient(rgba(0, 107, 166, 0.75), rgba(0, 107, 166, 0.75)), url(../../../../assets/img/hero-ranking.png)'
  }">
  <div class="sectionRanking">
    <h2 class="titleSection">{{ 'ranking.title' | translate }}</h2>

    <div class="groupButton mt-4">
      <button [class]="selfemployedActive ? 'btn btn-sm btn-light btnAccion' : 'btn btn-sm btn-outline-light btnAccion'"
        (click)="filterSellers('Autonomos')">{{ 'ranking.professionals' | translate }}</button>
      <button [class]="dedicatedActive ? 'btn btn-sm btn-light btnAccion' : 'btn btn-sm btn-outline-light btnAccion'"
        (click)="filterSellers('Dedicados')">{{ 'ranking.providers' | translate }}</button>
      <button [class]="professionalsActive ? 'btn btn-sm btn-light btnAccion' : 'btn btn-sm btn-outline-light btnAccion'"
        (click)="filterSellers('Profesionales')">{{ 'ranking.entrepreneurs' | translate }}</button>
    </div>

    <div class="rankingList mt-4">
      <div *ngFor="let seller of sellersRanked" class="rankingItem">
        <span class="rankingName">{{ seller.name }}</span>
        <span class="rankingScore">{{ seller.score }}</span>
      </div>
    </div>

  </div>
</div>
