<div class="container-fluid boxHero d-flex justify-content-center  ">

    <div class="wrapper my-5">
        <div id="formContent" class="">
            <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" dynamicHeight>
                <mat-tab>
                    <ng-template mat-tab-label class="fn">
                        <mat-icon class="mx-2">assignment</mat-icon>
                        Datos Personales
                    </ng-template>
                    <app-personal-info></app-personal-info>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                      <mat-icon class="mx-2">create</mat-icon>
                      Perfil
                    </ng-template>
                    <app-profile></app-profile>
                </mat-tab>
                <!-- <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="mx-2">directions_car</mat-icon>
                        Datos del vehiculo
                    </ng-template>
                    <app-vehicle-info></app-vehicle-info>
                </mat-tab> -->

            </mat-tab-group>
        </div>
    </div>


</div>