<!--
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const porcentaje = urlParams.get('porcentaje');
    const personas = urlParams.get('personas');
    document.getElementById('detallesPago').textContent = `Proceso de pago para ${ porcentaje }% y ${ personas } personas.`;
</script>

//botones
<form id="beneficiariosForm">
    <button type="button" onclick="seleccionar(10, 5)">10% - 5 Personas</button>
    <button type="button" onclick="seleccionar(15, 10)">15% - 10 Personas</button>
    <button type="button" onclick="seleccionar(30, 10)">30% - 10 Personas</button>
</form>-->



<div class="boxHero">

    <div id="generic_price_table">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!--PRICE HEADING START-->
                        <div class="price-heading clearfix">
                            <p>Nuestros planes</p>
                        </div>
                        <!--//PRICE HEADING END-->
                    </div>
                </div>
            </div>
            <div class="container">
                <!--BLOCK ROW START-->
                <div class="row">
                    <div class="col-md-4">
                        <!--PRICE CONTENT START-->
                        <div class="generic_content clearfix">
                            <!--HEAD PRICE DETAIL START-->
                            <div class="generic_head_price clearfix">
                                <!--HEAD CONTENT START-->
                                <div class="generic_head_content clearfix">
                                    <!--HEAD START-->
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Basico</span>
                                    </div>
                                    <!--//HEAD END-->
                                </div>
                                <!--//HEAD CONTENT END-->
                                <!--PRICE START-->
                                <div class="generic_price_tag clearfix">
                                    <span class="price">
                                        <span class="sign">$</span>
                                        <span class="currency">99</span>
                                        <span class="cent">.99</span>
                                        <span class="month">/MES</span>
                                    </span>
                                </div>
                                <!--//PRICE END-->
                            </div>
                            <!--//HEAD PRICE DETAIL END-->
                            <!--FEATURE LIST START-->
                            <div class="generic_feature_list">
                                <ul>
                                    <li><span>2GB</span> Banda ancha</li>
                                    <li><span>150GB</span> Almacenamiento</li>
                                    <li><span>2</span> Cuentas</li>
                                    <li><span>10%</span> Beneficios</li>
                                    <li><span>12/H</span> Soporte</li>
                                </ul>
                            </div>
                            <!--//FEATURE LIST END-->
                            <!--BUTTON START-->
                            <div class="generic_price_btn clearfix">
                                <a class="btn1" href="/payment-method">Contratar</a>
                            </div>
                            <!--//BUTTON END-->
                        </div>
                        <!--//PRICE CONTENT END-->
                    </div>
                    <div class="col-md-4">
                        <!--PRICE CONTENT START-->
                        <div class="generic_content active clearfix">
                            <!--HEAD PRICE DETAIL START-->
                            <div class="generic_head_price clearfix">
                                <!--HEAD CONTENT START-->
                                <div class="generic_head_content clearfix">
                                    <!--HEAD START-->
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Pro</span>
                                    </div>
                                    <!--//HEAD END-->
                                </div>
                                <!--//HEAD CONTENT END-->
                                <!--PRICE START-->
                                <div class="generic_price_tag clearfix">
                                    <span class="price">
                                        <span class="sign">$</span>
                                        <span class="currency">199</span>
                                        <span class="cent">.99</span>
                                        <span class="month">/MES</span>
                                    </span>
                                </div>
                                <!--//PRICE END-->
                            </div>
                            <!--//HEAD PRICE DETAIL END-->
                            <!--FEATURE LIST START-->
                            <div class="generic_feature_list">
                                <ul>
                                    <li><span>5GB</span> Banda ancha</li>
                                    <li><span>500GB</span> Almacenamiento</li>
                                    <li><span>12</span> Cuentas</li>
                                    <li><span>15%</span> Beneficios</li>
                                    <li><span>24/7</span> Soporte</li>
                                </ul>
                            </div>
                            <!--//FEATURE LIST END-->
                            <!--BUTTON START-->
                            <div class="generic_price_btn clearfix">
                                <a  class="btn1" href="/payment-method">Contratar</a>
                            </div>
                            <!--//BUTTON END-->
                        </div>
                        <!--//PRICE CONTENT END-->
                    </div>
                    <div class="col-md-4">
                        <!--PRICE CONTENT START-->
                        <div class="generic_content clearfix">
                            <!--HEAD PRICE DETAIL START-->
                            <div class="generic_head_price clearfix">
                                <!--HEAD CONTENT START-->
                                <div class="generic_head_content  clearfix">
                                    <!--HEAD START-->
                                    <div class="head_bg "></div>
                                    <div class="head">
                                        <span>Platino</span>
                                    </div>
                                    <!--//HEAD END-->
                                </div>
                                <!--//HEAD CONTENT END-->
                                <!--PRICE START-->
                                <div class="generic_price_tag clearfix">
                                    <span class="price">
                                        <span class="sign">$</span>
                                        <span class="currency">299</span>
                                        <span class="cent">.99</span>
                                        <span class="month">/MES</span>
                                    </span>
                                </div>
                                <!--//PRICE END-->
                            </div>
                            <!--//HEAD PRICE DETAIL END-->
                            <!--FEATURE LIST START-->
                            <div class="generic_feature_list">
                                <ul>
                                    <li><span>10GB</span> Banda ancha</li>
                                    <li><span>1TB</span> Almacenamiento</li>
                                    <li><span>Ilimitadas</span> Cuentas</li>
                                    <li><span>30%</span> Beneficios</li>
                                    <li><span>Ilimitado</span> Soporte</li>
                                </ul>
                            </div>
                            <!--//FEATURE LIST END-->
                            <!--BUTTON START-->
                            <div class="generic_price_btn clearfix">
                                <a class="btn1" href="/payment-method">Contratar</a>
                            </div>
                            <!--//BUTTON END-->
                        </div>
                        <!--//PRICE CONTENT END-->
                    </div>
                </div>
                <!--//BLOCK ROW END-->
            </div>
        </section>
    </div>




</div>
