<section class="py-3 py-md-5 py-xl-8">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="mb-5">
                    <h1 class="display-5 fw-bold text-center">De que team queres Ser Parte?</h1>
                    <p class="text-center m-0">En likeVendor podes formar parte tanto de emprendedor, como brindar tu
                        servicio de encomienda a domicilio, la eleccion es tuya!</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row boxMain">


               <div class="boxes col-3">
    <div class="details-box">
<i class="fas fa-lightbulb fa-6x  icon-blue"></i>
        <p class="cliente">Emprendedor</p>
        <ul>
            <li>Vender miles de productos</li>
            <li>Comisiones atractivas por cada venta</li>
            <li>Vas a poder contratar otras personas</li>
        </ul>
        <a href="/profile"><button class="btn btn-primary btn-md btn-action-empre">Quiero ser emprendedor!</button></a>
    </div>


                </div>
                <div class="boxes col-3">
                    <div class="details-box">
                        <!-- <i class='fas fa-shopping-bag fa-6x'></i> -->
<i class="fas fa-store fa-6x  icon-blue"></i>

                        <p class="cliente">Negocios/Proovedores</p>
                        <ul>
                            <li>Ver y comprar miles de productos</li>
                            <li>Elegir precios a tu bolsillo</li>
                            <li>Vas a poder hablar con los vendedores</li>
                        </ul>
                        <a href="/dashboard-provider"><button  class="btn btn-primary btn-md btn-action-negocio">Quiero empezar a buscar!</button></a>

                    </div>

                </div>
                <div class="boxes col-3">
                    <div class="details-box">
                        <!-- <i class="fas fa-people-carry"></i> -->
<i class="fas fa-motorcycle fa-6x  icon-blue"></i>

                        <p class="cliente">Servicio de delivery</p>
                        <ul>
                            <li>Vas a poder registrar tu vehiculo</li>
                            <li>Recibir comision segun el envio</li>
                            <li>Vas a poder compartir tus medios de contactos</li>
                        </ul>
                        <a href="/profile-flete"><button class="btn btn-primary btn-md btn-action">Quiero ser Delivery!</button></a>


                    </div>


                </div>
                <div class="boxes col-3">
                    <div class="details-box">
                        <!-- <i class="fas fa-folder"></i> -->
<i class="fas fa-user-tie fa-6x  icon-blue"></i>

                        <p class="cliente">Profesionales</p>
                        <ul>
                            <li>Vas a poder registrar tu vehiculo</li>
                            <li>Recibir comision segun el envio</li>
                            <li>Vas a poder compartir tus medios de contactos</li>
                        </ul>
                        <a href="/dashboard-profesional"><button class="btn btn-primary btn-md btn-action">Quiero ser Profesional</button></a>


                    </div>


                </div>



            </div>
        </div>

    </div>
</section>
