<div class="d-flex justify-content-center box-main">
    <div class="section-box">
        <div class="">
            <div class="rounded-circle">
                <mat-icon class="icon">photo_camera</mat-icon>
            </div>
            <div class="name-dashboard">
                <p class="first-name">Nombre del dueño de la cuenta<mat-icon class="icon-pencil-1">edit</mat-icon></p>
                <p class="second-name">segundonombre<mat-icon class="icon-pencil">edit</mat-icon></p>
            </div>
            <div class="preview-profile-btn">
                <a href="/preview-profile"><button class="btn btn-primary">Vista previa del perfil</button></a>
            </div>
        </div>
        
        <hr>
        <div class="">
           <p class="info"><mat-icon class="icon">location_on</mat-icon>De argentina</p>
           <p class="info"><mat-icon class="icon">person</mat-icon>Miembro desde 2023</p>
        </div>
    </div>
    

</div>
