<div class="card shadow p-4 py-5 border-color worker-card" [ngClass]="dark ? 'color' : border ? 'third-border' : '' ">
    <p class="mb-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid cumque perspiciatis ipsum suscip
    <div class="mb-3" >
        <img  src="../../../assets/img/iconmonstr-star-3.svg" class="filter-color"/>
        <img  src="../../../assets/img/iconmonstr-star-3.svg" class="filter-color"/>
        <img  src="../../../assets/img/iconmonstr-star-3.svg" class="filter-color"/>
        <img  src="../../../assets/img/iconmonstr-star-3.svg" class="filter-color"/>
    </div>
    <div class="d-flex justify-content-between">
        <div >
            <img src="../../../../assets/img/freelance.png" class="rounded-circle border-color-img"  width="80" alt="freelance">
        </div>
        <div class="d-flex flex-column justify-content-between">
            <h6
                [ngClass]="!dark ? 'text-color text-center font-weight-bold mt-3' : 'text-white text-center font-weight-bold mt-3'">
                {{worker.name}}</h6>
            <button [ngClass]="!dark ? 'btn-color btn-md font-weight-light' : 'btn-dark-version btn-md font-weight-light'" (click)="getProfile()">{{'Ver perfil'| translate}}</button>
        </div>
    </div>
</div>