<div class="container-fluid boxHero d-flex justify-content-center">
    <div class="wrapper my-5">
        <div id="formContent" class="">
            <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" dynamicHeight>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="mx-2">assignment</mat-icon>
                        Datos Personales
                    </ng-template>
                    <app-personal-info></app-personal-info>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="mx-2">credit_card</mat-icon>
                        Datos de Facturación
                    </ng-template>
                    <app-billing-info></app-billing-info>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="mx-2">account_circle</mat-icon>
                        Información de la Cuenta
                    </ng-template>
                    <app-account-info></app-account-info>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="mx-2">create</mat-icon>
                        Perfil
                    </ng-template>
                    <app-profile></app-profile>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="mx-2">business</mat-icon>
                        Información del Negocio
                    </ng-template>
                    <app-business-info></app-business-info>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div> 