



<div class="boxHero container-fluid  d-flex justify-content-end align-items-center ">


    <div class="modal-dialog">
        <div class="modal-content">
            <article class="card-body mx-auto container-fluid">

            <br>

                <h3 class="card-title mx-4  input-style bg-white text-black"><p>Indica tu correo electronico</p></h3>
                <form [formGroup]="formRegister" (ngSubmit)="submitRegister()">




                    <!--CORREO ELECTRONICO-->
                    <div class="mb-3 container-fluid form-group col-sm-11 ">
                        <label for="exampleFormControlInput1 " class="form-label label"></label>
                        <input name="email" class="form-control  label-center"
                            placeholder="Escribe tu correo electronico" type="email" formControlName="email">
                        <div
                            *ngIf="formRegister.controls['email'].invalid && (formRegister.controls['email'].dirty || formRegister.controls['email'].touched)">
                            <div class="text-danger" *ngIf="f['email'].errors && f['email'].errors['required']">
                                El Mail es Requerido
                            </div>
                            <div class="text-danger" *ngIf="f['email'].errors && f['email'].errors['pattern']">
                                No cumple con los requisitos de un mail
                            </div>
                        </div>
                    </div>






                    <div class="form-group my-3 d-flex justify-content-center">
                        <button type="submit"
                            class="btn btn-block btn-primary input-style btnnuevo1" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Recuperar tu contraseña</button>
                    </div>
                    <hr>
                    <p class="text-center input-style bg-white text-black ">Tienes cuenta?    <a href="/login">Iniciar Sesion</a></p>
                    <p class="text-center input-style bg-white "><a href="/register">Registrarte gratis</a></p>
                </form>
            </article>
        </div>
    </div>
</div>
